/* components/SlickSlider.css */
.slider-item {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .slider-item img {
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    height: auto; /* 이미지 비율 유지 */
    max-height: 200px; /* 최대 높이 설정 (필요에 따라 조정) */
    border-radius: 10px;
    object-fit: cover;
  }
  
  .slider-item h3 {
    font-size: 1.1em;
    margin: 8px 0;
  }
  
  .slider-item p {
    color: #333;
  }
  